<div align="center">
    <body bgcolor= lightblue>
    <h1>Employee Rating Details</h1>
    <button (click)="showData()" >Display data</button>
    <br /> <br /> 
    &nbsp;
      <br /><br />
      <div class="table-responsive">
          <table align="center">
      <tr *ngFor="let d of dataset;let i = index; let even = even; let odd = odd; let second = second"
        [ngClass]="{oddclass: odd, evenclass: even , secondclass:second}">
        <td>
          {{i+1}}
        </td>
        <td>
          {{d.name}}
        </td>
        <td>
          {{d.id}}
        </td>
        <td>
            {{d.rating}}
          </td>
      </tr>
    </table>
    </div>
    </body>
  </div>