
<body style="background-color:lightcyan;"> 
             
<h3 align="center">All the questions</h3><br>
<div  *ngIf=quesDetails>
        <div  *ngFor="let ques of quesDetails">
                <div class="style2">
                    <h3 class="my-0 font-weight-normal"></h3>
                </div>
                <div class="style1">
                        <p>Question: {{ques.question}}</p>
                        <p>Select answer from the below options</p>
            <input type="radio" >  {{ques.incorrect_answers[0]}}
            <br>
            <input type="radio" >  {{ques.incorrect_answers[1]}}
            <br>
            <input type="radio" >  {{ques.incorrect_answers[2]}}
            <br>
            <input type="radio" id='AddButton' />{{ques.correct_answer}}
            
             <br><br><br>
            </div>
        </div>
    
</div>
Result:
<input type="text" name="TextBox" id="TextBox" value="0" />
<br>

<script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>     
<li class="nav-item">
        <a class="nav-link" routerLink="/end" routerLinkActive="active">End Test</a>
      </li>
</body>


