<body style="background-color:lightcyan;">
<div >
  <div>
      <h1 align = "center" class="display-3">Air Quality</h1><br>
  </div>
  <nav class="navbar navbar-expand navbar-light bg-light">
      <div >
          <ul style="background-color:white;" class="navbar-nav mr-auto">
              <li class="nav-item">
                  <a  routerLink='/'> Home &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
              </li>
              <li  class="nav-item">
                  <a  routerLink='/countries'> Countries &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
              </li>
              <li class="nav-item">
                  <a routerLink='/cities'> Cities &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
              <li class="nav-item">
                  <a routerLink='/locations'> Locations &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
              </li>
          </ul>
      </div>
  </nav>
</div>
</body>
<router-outlet></router-outlet>
