<body style="background-color:lightcyan;">
    <div >
      <div>
          <h1 align = "center" class="display-3">Quiz</h1><br>
      </div>
      <nav class="navbar navbar-expand navbar-light bg-light">
          <div >
              <ul style="background-color:white;" class="navbar-nav mr-auto">
                  <li  class="nav-item">
                      <a  routerLink='/exam'> Exam &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </a>
              </ul>
    
          </div>
      </nav>
    </div>
    </body>
    <router-outlet></router-outlet>
